*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
        
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.container {
    background: white;
    width: 600px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    position: relative; 
}

.header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #007BFF;
    padding-bottom: 10px;
}

.header img {
    width: 100px; 
    height: 100px;
    border-radius: 50%;
    margin-right: 15px;
    object-fit: cover; 
    border: 3px solid #007BFF;
}

.header-text {
    flex: 1;
}

.header h1 {
    margin: 0;
    color: #007BFF;
    font-size: 24px;
}

.section {
    margin: 20px 0;
}

.section h2 {
    border-bottom: 2px solid #007BFF;
    padding-bottom: 5px;
    font-size: 18px;
    color: #333;
}

.section p {
    margin: 5px 0;
}

.list {
    list-style: none;
    padding: 0;
}

.list li {
    padding: 5px 0;
}


.theme-toggle {
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out, transform 0.2s;
}

.theme-toggle:hover {
    background-color: #0056b3;
}

.dark-mode {
    background-color: #121212;
    color: white;
}

.dark-mode .container {
    background: #1e1e1e;
    color: white;
}

.dark-mode .container h2 {
    color: rgb(100, 99, 99);
}